@import "../../scss/index.scss";

.main {
	margin-top: 50px;

	.container {
		width: 800px;
		height: fit-content;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		
		h1 {
			width: 700px;
			color: white;
			display: flex;
			justify-content: center;
		}

		.inline-inputs {
			display: flex;
			flex-direction: row;
			align-items: center;

			.delete-button {
				.ui.button {
					text-transform: uppercase;
					width: 45px;
					border-radius: 50px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: $danger;
				}
			}
		}
	
		.add-button {
			width: 300px;
			display: flex;
			justify-content: center;

			.ui.button {
				text-transform: uppercase;
				width: 250px;
				border-radius: 50px;
				font-size: 17px;
				letter-spacing: 3px;
				color: white;
				background-color: #3e5f8a;
			}
		}
	
		.my-buttons {
			width: 700px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;

			.next-button {
				.ui.button {
					text-transform: uppercase;
					width: 70px;
					border-radius: 45px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: #6E92BF;
				}
			}
	
			.prev-button {
				.ui.button {
					text-transform: uppercase;
					width: 70px;
					border-radius: 45px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: #18466D;
				}
			}

			.void {
				width: 70px;
			}
		}

		.main-title-input {
			border: 2px solid $border-grey-light;
			border-radius: 10px;
			margin: 10px;
			padding: 20px;
			width: 700px;
		
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		
			.ui.input {
				width: 100%;
		
				input {
					background-color: $background-grey;
					border: 0;
					font-size: 16px;
					color: $font-light;
			
					&:hover,
					&:active,
					&:focus {
						background-color: $background-grey-hover;
						border: 0;
					}
				}
			
				i {
					color: $font-light;
					font-size: 19px;
				}
					
				&.error {
					input {
						border-bottom: 1px solid $danger;
					}
				}
			}
		}
	}
}
  