@import "../../scss/index.scss";

.main {
	margin-top: 50px;

	.container {
		width: 800px;
		height: fit-content;

		display: flex;
		flex-direction: column;
		
		h1 {
			width: 700px;
			color: white;
			display: flex;
			justify-content: center;
		}

		.inline-inputs {
			display: flex;
			flex-direction: row;
			align-items: center;

			.delete-button {
				.ui.button {
					text-transform: uppercase;
					width: 50px;
					border-radius: 50px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: $danger;
				}
			}
		}
	
		.add-button {
			width: 700px;
			display: flex;
			justify-content: center;

			.ui.button {
				text-transform: uppercase;
				width: 250px;
				border-radius: 50px;
				font-size: 17px;
				letter-spacing: 3px;
				color: white;
				background-color: $primary-color-cyan;
			}
		}
	
		.submit-button {
			.ui.button {
				text-transform: uppercase;
				width: 100px;
				border-radius: 50px;
				font-size: 17px;
				letter-spacing: 3px;
				color: white;
				background-color: $primary-color-orange-dark;
			}
		}
	}
}
  