@import "../../scss/index.scss";

.main-video {

	border: 2px solid $border-grey-light;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 700px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.ui.input {
		width: 100%;

		input {
			background-color: $background-grey;
			border: 0;
			font-size: 16px;
			color: $font-light;
	
			&:hover,
			&:active,
			&:focus {
				background-color: $background-grey-hover;
				border: 0;
			}
		}
	
		i {
			color: $font-light;
			font-size: 19px;
		}
			
		&.error {
			input {
				border-bottom: 1px solid $danger;
			}
		}
	}

	.title-input {
		margin: 10px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.ui.input {
			width: 95%;
		}
	}

	.link-input {
		margin: 10px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.ui.input {
			width: 95%;
		}
	}

	.ui.button {
		text-transform: uppercase;
        width: 30%;
        border-radius: 50px;
        font-size: 17px;
        letter-spacing: 3px;
		color: white;
		background-color: $primary-color-orange;
	}
}