$palette-light-orange:  #FF9F31;
$palette-normal-orange: #EE7F00;
$palette-dark-orange:   #BD6500;

$palette-light-red:  #F02844;
$palette-normal-red: #D4021D;
$palette-dark-red:   #AB0018;

$palette-black:  #101010;