@import '../scss/index.scss';

.html-parser {
	height: 100%;
	width: 100%;
	margin-top: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.horizontal {
		width:  65vw;
		height: 7vh;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.input {
			margin-right: 1.5%;
			width: 77%;
			height: 80%;
			transform: translate(0%, 10%);

			input {
				background-color: $background-grey;
				border:0;
				font-size: 16px;
				color: $font-light;
						
				&:hover,
				&:active,
				&:focus {
					background-color: $background-grey-hover;
					border: 0;
				}
			}
					
			i {
				color: $font-light;
				font-size: 19px; 
			}
					
			&.error {
				input {
					border-bottom: 1px solid $danger; 
				}
			}
		}
			

		.button {
			width: 20%;
			background-color: $primary-color-orange;
			color: $font-light;
			text-transform: uppercase;
			margin-top: 10px;
			margin-left: 1.5%;
			border-radius: 50px;
			padding: 17px 0;
			font-size: 14px;
			letter-spacing: 3px;

			&:hover,
			&:active,
			&:focus {
				background-color: $primary-color-orange;
				color: $font-light;
			}
		}
	}

	.copy-buttons {
		width:  65vw;
		height: 7vh;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;

		margin-top: 50px;

		.ui.button {
			width: 25%;
			color: $font-light;
			text-transform: uppercase;
			border-radius: 50px;
			padding: 17px 0;
			font-size: 14px;
			letter-spacing: 3px;

			&.copy {
				background-color: $primary-color-orange;

				&:hover,
				&:active,
				&:focus {
					background-color: $primary-color-orange;
					color: $font-light;
				}
			}

			&.delete {
				background-color: #AB0018;

				&:hover,
				&:active,
				&:focus {
					background-color: #AB0018;
					color: $font-light;
				}			
			}
		}
	}

	.error-text {
		color: $font-light;
		padding-left: 15px;
	}
}

.htmltext {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
}

.textLine {
	margin: 0px;
	text-align: start;
	color: white;
}
