@import "../scss/index.scss";

* {
	//border: 1px solid red;
}

.main {
	margin-top: 50px;

	.container {
		width: 800px;
		height: fit-content;
		border: 2px solid $border-grey-light;

		display: flex;
		flex-direction: column;
		
		h1 {
			color: white;
		}

		.inline-inputs {
			display: flex;
			flex-direction: row;
			align-items: center;

			.delete-button {
				.ui.button {
					text-transform: uppercase;
					width: 50px;
					border-radius: 50px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: $danger;
				}
			}
		}

		.buttons {

			display: flex;
			direction: row;
	
			.add-button {
				.ui.button {
					text-transform: uppercase;
					width: 100px;
					border-radius: 50px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: $primary-color-orange;
				}
			}
	
			.delete-button {
				.ui.button {
					text-transform: uppercase;
					width: 100px;
					border-radius: 50px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: $danger;
				}
			}
	
			.submit-button {
				.ui.button {
					text-transform: uppercase;
					width: 100px;
					border-radius: 50px;
					font-size: 17px;
					letter-spacing: 3px;
					color: white;
					background-color: $primary-color-orange-dark;
				}
			}
		}
	}
}
  