@import "../../../../../scss/index.scss";

.logout{
    .ui.button.accept,
    .ui.button.ui.button.cancel{
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 50px;
        padding: 20px 0;
        font-size: 15px;
        letter-spacing: 3px;
    }
    .ui.button.cancel{
        background-color: $background-light;
        color: $font-dark;
    }
    .ui.button.accept{
        background-color: $primary-color-orange;
        color: $font-dark;
    }
}